.filter{
    width: 200px;
    border: 1px black solid;
    border-radius: 12px;
    display: flex;
    padding: 15px;
    margin-bottom: 10px;
    flex-direction: column;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section{
    font-size: 24px;
    color: rgba(56, 71, 11, 1);
}

.plus{
    margin-left: auto;
    width: 2rem;
    height: 2rem;
}

.Head{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Body{
    transition: all 0.5s ease-in-out;
   
}