.nav{
    height: 85px;
    background-color: rgba(249, 246, 242, 1);
}
.container{
    width: 1050px;
}

.left_nav{
    display: flex;
    align-items: center;
}
.right_nav{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.line{
    height: 40px;
    width: 1px;
    background-color: rgba(160, 133, 91, 1);
}

.right_nav *{
    margin-right: 20px;
}

