*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-content: center;
}

.flex{
    display: flex;
}

.banner{
    width: 100%;
}

.container{
    width: 1050px;
    margin: auto;
}

.search{
    display: flex;
    justify-content: right;
    align-items: center;
}

.search input{
    height: 34px;
    border-radius: 5px;
    border: 0;
    background-color: rgba(249, 246, 242, 1);
    padding:10px
}